 <div class="container">
 <h1>TODO List</h1>
 <div class= "input">
 <input type="text" placeholder="Enter the task here" id="txt-todo-name"> 
 </div>
 <div class="addbutton">
    <button type="button" id = "add-todo">Add Task</button>
    </div>
   
        <ul class="list-group" id="list-holder">

        </ul>
   
    
    </div>
    <script src="/js/app.js"></script>